*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(177, 211, 187);
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
}

#logo{
    width: 44vw;
    height: 18vh;
    object-fit: cover;
    max-width: 250px;
}

#logo-container{
    padding-top: 180px;
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen-sides-picture{
    background-image: url(../images/background.png);
    background-size: contain;
    height: 8430px;
    z-index: 10;
    position: absolute;
    width: 100%;
}

#language-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    position: relative;
    z-index: 20;
}

.slide-containers, .slide-containers-2, .slide-containers-3, .slide-containers-4{
    margin-top: 484px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides{
    width: 95%;
    height: 600px;
}

.green-block{
    background-color: #407c51;
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 16.5%;
    color: white;
    font-size: 28px;
    border-radius: 20px;
    box-shadow: -18px 27px 40px rgb(0 0 0 / 43%);
}

.green-block-element{
    padding-left: 51px;
}

.green-block-2-element{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.green-block-title{
    font-size: 40px;
    color: #B1D3BB ;
    padding-top: 72px;
    padding-bottom: 72px;
}
.green-block-subtitle{
    font-size: 35px;
    font-weight: 550;
    margin-left: 20px; /* Adjust the margin as needed to control the space between the dot and text */
}

.green-block-subtitle::before {
    content: "\2022"; /* Unicode character for a bullet point (•) */
    margin-right: 10px; /* Adjust the margin as needed to control the space between the bullet point and text */
    font-size: 45px; /* Adjust the font size as needed */
    vertical-align: middle; /* Vertically align the bullet point with the text */
}

#green-block-1-chapter-2{
    padding-top: 50px;
    padding-bottom: 50px;
}

#green-block-2-subtitle-2{
    padding-top: 115px;
}

#green-block-2-chapter-2{
    padding-bottom: 50px;
}

#green-block-2-chapter-1, #green-block-2-chapter-2{
    font-size: 22px;
}

#green-block-3-title-1{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 16px;
}

#green-block-3-title-2{
    padding-bottom: 100px;
    padding-top: 10px;
}


#green-block-3-subtitle-2{
    padding-top: 50px;
}

#green-block-3-chapter-1, #green-block-3-chapter-2{
    text-align: justify;
    padding: 0 55px;
}

#green-block-3-chapter-2{
    padding-bottom: 30px;
}

#green-block-4-title-1{
    padding-top: 55px;
    padding-bottom: 15px;
}

#green-block-4-title-2{
    padding-top: 0;
    padding-bottom: 40px;
}

#green-block-4-chapter-1, #green-block-4-chapter-2{
    text-align: justify;
    padding: 0 30px;
}

#green-block-4-subtitle-1{
    padding-top: 90px;
}

#green-block-4-chapter-2{
    padding-bottom: 40px;
}
#footer-container{
    position: static;
    display: flex;
    height: 400px;
    width: 100%;
    min-height: auto;
    background-color: #407c51;
    color: white;
    font-size: 51px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#footer-element-1{
    padding-top: 95px;;
    font-weight: 600;
}

#footer-element-2{
    padding-top: 30px;
    text-decoration: underline;
}

#footer-element-3{
    font-size: 31px;
    padding-top: 30px;
    padding-bottom: 60px;
}

/*Responsive*/
.slider-with-text-container {
   display: flex;
   flex-direction: column;
}

.slide-containers {
    width: 100%;
}

@media (min-width: 1000px) {
    #screen-sides-picture{
        height: 3241px;
        background-image: url(../images/background2.png);
    }
    #logo {
        width: 30vw;
    }

    #language-container {
        font-size: 15px;
        margin-bottom: 50px;
    }

    .slider-with-text-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .row-reverse{
        flex-direction: row-reverse;
    }

    .green-block {
        margin-left: 0;
    }

    .slide-containers, .slide-containers-2, .slide-containers-3, .slide-containers-4 {
        margin-top: 0;
    }

    .slides {
        width: 500px;
        height: 365px;
    }

    .green-block {
        width: 22vw;
        z-index: 30;
    }

    .green-block-title {
        font-size: 32px;
        padding-top: 51px;
        padding-bottom: 55px;
    }

    .green-block-element{
        font-size: 19px;
    }
    #green-block-1-title{
        font-size: 32px
    }
    #green-block-4-title-1, #green-block-4-title-2{
        font-size: 36px;
        padding-top: 21px;
        padding-left: 17px;
    }

    #footer-container{
        height: 200px;
        font-size: 21px;
    }

    #footer-element-3 {
        font-size: 15px;
        padding-top: 17px;
        padding-bottom: 87px;
    }

    #footer-container {
        position: relative;
        display: flex;
        height: 178px;
        width: 80%;
        min-height: auto;
        background-color: #407c51;
        color: white;
        font-size: 21px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px auto 0;
    }
}